<p><i class="fa fa-copyright"></i> 2020 History of Vilnius weather. All rights reserved. Author
  <a href="http://upondev.com/" target="_blank">upondev.com </a> &nbsp;
  <a href="https://www.linkedin.com/in/vladas-uponavicius/" target="_blank"><i class="fa fa-linkedin-square"></i></a> &nbsp;

  Project email: <a href="mailto:uponavicius@gmail.com">uponavicius@gmail.com</a>
</p>
