<div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" #date
             (dateChange)="EndDateChange(date.value)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </div>
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
</div>

<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th>Weather maximum (C°)</th>
        <th>Weather minimum (C°)</th>
        <th>Weather average (C°)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{tempMax}}</td>
        <td>{{tempMin}}</td>
        <td>{{tempAvg}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<br>
