<!--<router-outlet></router-outlet>-->

<div class="container">
  <div>
    <app-header></app-header>
  </div>
  <div>
    <app-line-chart></app-line-chart>
  </div>
  <div>
    <app-footer></app-footer>
  </div>

</div>
